* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    color: white;
    padding: 20px;
    margin: auto;
    font-size: 2em;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.icon-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    padding: 40px;
    border-radius: 20px;
}

.orange {
    color: orange;
}